@import '../../../styles.scss';

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-section {
    background-color: $blue-grey;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: $bright-yellow;
    border-width: 2px;
}

.section-header {
    display: flex;
    justify-content: center;
}

.ability-list-wrapper {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.abilityChip {
    margin-left: 5px;
    margin-right: 5px;
}

.hiddenAbilites {
    span {
        background-color: $hidden-ability;
    } 
}

.regularAbilites {
    span {
        background-color: $normal-ability;
    } 
}