<div class="main-wrapper">

    <div class="type-wrapper">
        <p class="section-header">Typing</p>
        <div class="card-section type-section">
            <div *ngFor="let type of currentPokemon.types" class="chip stat-chip" [ngStyle]="{ 'background-color': getTypeColor(type) }">
                <span>{{type | titlecase}}</span>
            </div>
        </div>
    </div>
    
    <div class="ability-wrapper">
        <span class="section-header">Abilities</span>
        <div class="card-section ability-section">
            <div class="ability-list-wrapper">

                <div class="ability-titles">
                    <span class="ability-column-header">Normal</span>
                    <span class="ability-column-header">Hidden</span>
                </div>

                <div class="ability-lists">
                    <div class="normal-abilities">
                        <ng-container *ngFor="let ability of currentPokemon.abilities" class="normalAbilites">
                            <a *ngIf="ability.isHidden != true" [href]="ability.smogonUrl" target="_blank" class="chip stat-chip normalAbilityChip">
                                <span>{{ability.name | removeHyphen | titlecase}}</span>
                            </a>
                        </ng-container>  
                    </div> 
            
                    <div class="hidden-abilities">
                        <ng-container *ngFor="let ability of currentPokemon.abilities" class="hiddenAbilites">
                            <a *ngIf="ability.isHidden == true" [href]="ability.smogonUrl" target="_blank" class="chip stat-chip hiddenAbilityChip">
                                <span>{{ability.name | removeHyphen | titlecase}}</span>
                            </a>
                        </ng-container>
                    </div> 
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="stat-wrapper">
        <p class="section-header">Stats</p>
        <div class="card-section stat-section">
            <div class="individual-stat" *ngFor="let stat of currentPokemon.stats">   
                <span class="stat-name">{{stat.name}}</span>
                <div class="stat-bar-wrapper">
                    <div class="stat-bar" [ngStyle]="{ 'width': calculateStatBarLength(stat.value) }"></div>
                    <span>{{stat.value}}</span>
                </div>

            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <button mat-stroked-button class="primary-button move-button" (click)="toggleMoves()">Show Moves</button>
    </div>

    <div *ngIf="showMoves">
        <div *ngFor="let move of currentPokemon.moves">{{move.name}}</div>
    </div>
</div>