@import '../../../styles.scss';

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    background-color: $light-blue;
    padding: 20px;

    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: $bright-yellow;  
}

.section-header {
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
}

.ability-list-wrapper {
    display: flex;
    gap: 10%;
    width: 100%;
    flex-direction: column;
}

.ability-titles {
    display: flex;
    justify-content: space-around;
}

.ability-lists {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.normalAbilityChip {
    // background: linear-gradient(
    //     135deg, 
    //     rgba(218,218,218,1) 10%, 
    //     $normal-ability 90%
    // );
    background-color: $normal-ability;
}

.hiddenAbilityChip {
    // background: linear-gradient(
    //     135deg, 
    //     #ffe864 10%, 
    //     $hidden-ability 80%
    // );
    background-color: $hidden-ability;
}

.normalAbilityChip,
.hiddenAbilityChip {
    text-decoration: none;
}

.normalAbilityChip:hover,
.hiddenAbilityChip:hover {
    text-decoration: underline;
}

.normal-abilities,
.hidden-abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    justify-content: space-evenly;
}

 .ability-section {
    background: linear-gradient(125deg, $dark-blue-grey 52%, $blue-grey 52%);
    min-height: 13vh;
    display: flex;
 }

 .type-section {
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }

 .ability-column-header {
    color: $white;
    font-size: 1rem;
 }

 .stat-chip {
    color: #FFFFFF;
    border-color: #00000030;
    border-style: solid;
    border-width: 2px;

    span {
        filter: drop-shadow(2px 2px 2px rgba(36, 36, 36, 0.7));
    }

 }

 .stat-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: 22vh;
    margin-bottom: 10px;
    color: $white;
 }

 .stat-name-wrapper {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
 }

 .stat-chart-wrapper {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    //border-bottom: 2px solid $white;
    border-left: 3px solid $white;
    box-sizing: border-box;
 }

 .individual-stat {
    display: flex;
    flex-direction: row;
 }

 .stat-bar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .stat-bar {
    background-color: black;
    height: 25px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.stat-value {
    padding-left: 5px;
}

.move-button {
    width: 100%;
}
