<div class="main-wrapper">
    <div class="type-wrapper card-section">
        <p class="section-header">Typing</p>
        <div *ngFor="let type of currentPokemon.types">{{type}}</div>
    </div>

    <div class="ability-wrapper card-section">
        <p class="section-header">Abilities</p>

        <div *ngIf="currentPokemon != null">
            <div class="ability-list-wrapper">
                <div *ngFor="let ability of currentPokemon.abilities" class="regularAbilites">
                    <span *ngIf="ability.isHidden != true" class="chip abilityChip">{{ability.name | removeHyphen | titlecase }}</span>
                </div>  
            </div> 
    
            <div class="ability-list-wrapper">
                <div *ngFor="let ability of currentPokemon.abilities" class="hiddenAbilites">
                    <span *ngIf="ability.isHidden == true" class="chip abilityChip">{{ability.name | removeHyphen | titlecase }}</span>
                </div>
            </div> 
        </div>

    </div>

    <div class="stat-wrapper card-section">
        <p class="section-header">Stats</p>
        <div *ngFor="let stat of currentPokemon.stats">{{stat.name}} : {{stat.value}}</div>
    </div>

    <button mat-stroked-button class="primary-button" (click)="toggleMoves()">Show Moves</button>

    <div *ngIf="showMoves">
        <div *ngFor="let move of currentPokemon.moves">{{move.name}}</div>
    </div>
</div>