<div class="main-wrapper">
    <div class="title">
        <p class="section-header pokemonNumber">No.{{currentPokemon.id}}</p>
        <p class="section-header pokemonName">{{currentPokemon.name | removeHyphen | titlecase }}</p>
    </div>
    
    
    <div class="sprite-wrapper">
        <div class="sprite-image">
            <img *ngIf="!showShiny" [src]='currentPokemon.normalSprite' />
            <img *ngIf="showShiny" [src]='currentPokemon.shinySprite' />
        </div>
    </div>  

    <button mat-stroked-button class="primary-button sprite-button" (click)="switchSprite()">Toggle Shiny</button>
</div>

