<div class="main-wrapper">
    <div class="search-wrapper">
        <form class="search-form" [formGroup]="searchForm" autocomplete="off">
            <mat-form-field class="search-field" subscriptSizing="dynamic">
                <mat-label>Pokemon Search</mat-label>
                <input matInput id="search-input" placeholder="Pikachu" (keydown.enter)="getPokemonDetails()" (input)="suggestPokemon()" formControlName="pokemonSpecies">
                <mat-error>{{error}}</mat-error>
            </mat-form-field>
        </form>
        <div class="dropdownList">
            <div class="dropdown-content" *ngIf="showDropdown">
                <div *ngFor="let pokemon of dropdownSuggestions" (click)="dropdownClick(pokemon.name)" (keydown.enter)="dropdownClick(pokemon.name)" class="search-result" tabindex="0">
                    <p class="result-pokedex-number">#{{pokemon.pokedexNumber}}</p>
                    <p class="result-name">{{pokemon.name | titlecase}}</p>
                </div>
                <p *ngIf="noResults" class="no-results">No results</p>             
            </div>
        </div>
    </div>

    <div class="button-wrapper">
        <button mat-stroked-button class="primary-button get-button" (click)="getPokemonDetails()">
            <div class="button-label">
                <span>Search</span>
                <i class="ri-search-line"></i>
            </div>
        </button>
        <button mat-stroked-button class="primary-button reset-button" (click)="getRandomPokemon()">
            <div class="button-label">
                <span>Random</span>
                <i class="ri-dice-5-line"></i>
            </div>
        </button>   
    </div>
</div>