@import '../../../styles.scss';

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: $light-blue;
    border-radius: 5px;
    border: solid $bright-yellow 2px;
    width: 100%;
}

.search-form {
    width: 100%;
}

.search-field {
    width: 100%;
}

/* Make the input field rounded */
.mat-form-field .mat-input-element {
    border-radius: 20px;  /* Adjust this value for different roundness */
  }
  
  /* Optional: Make the whole mat-form-field have rounded corners */
  .mat-form-field {
    border-radius: 20px;  /* Adjust this value as needed */
  }
  

.search-wrapper {
    width: 100%;
    padding: 10px;
}

.search-wrapper:focus-within .dropdownList {
    visibility: visible;
    opacity: 1;

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

.get-button,
.reset-button {
    width: 150px;
    height: 100% !important;
    gap: 10px;
    border-radius: 5px;
    border: solid $dark-grey 2px;
    padding: 10px;
}

.button-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-left: 0px;
}

.search-result {
    color: $dark-grey;
    background: linear-gradient(125deg, $white 90%, #cccccc 10%);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 40px;
}

.search-result:hover,
.search-result:focus {
    cursor: pointer;
    background: linear-gradient(125deg, #c2c2c2 90%, #7287aa 10%);

    .result-pokedex-number {
        background-color: #7287aa;
    }
}

.result-pokedex-number {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    min-width: 8%;
    background-color: #5a708252;
}

.result-name {
    margin: 10px;
    display: flex;
    align-items: center;
}

.dropdownList {
    border-radius: 5px;
    margin-top: 3px;
    position: relative;
    z-index: 999;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s ease, visibility 0s 0.2;
}

.dropdown-content {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 2px;
    border-radius: 5px;
    background-color: $dark-grey;
}

.no-results {
    height: 40px;
    margin: 0;
    background: linear-gradient(125deg, $white 90%, #cccccc 10%);
    color: $dark-grey;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    
}

.button-label {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

i {
    font-size: 1.3em;
}