<div class="main-wrapper">
    <div class="title-bar">
        <i class="ri-bar-chart-2-fill"></i>
        <h1 class="title">PokeStats</h1>
    </div>


    <div class="components">
        <div class="search-wrapper">
            <app-search-bar></app-search-bar>
        </div>
        
        <div class="card-wrapper">
            <div class="pokemon-wrapper">
                <app-pokemon-card></app-pokemon-card>
            </div>
            <div class="stat-wrapper">
                <app-stat-card></app-stat-card>
            </div>
        </div>
    </div>
    
</div>