<div class="main-wrapper">
    <div class="title-bar">
        <fa-icon [icon]="faChartColumn"></fa-icon>
        <p class="title">PokeStats</p>
    </div>


    <div class="components">
        <div class="search-wrapper">
            <app-search-bar></app-search-bar>
        </div>
        
        <div class="card-wrapper">
            <div class="pokemon-wrapper">
                <app-pokemon-card></app-pokemon-card>
            </div>
            <div class="stat-wrapper">
                <app-stat-card></app-stat-card>
            </div>
        </div>
    </div>
    
</div>