
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PokeStats-primary: mat.define-palette(mat.$indigo-palette);
$PokeStats-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PokeStats-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PokeStats-theme: mat.define-light-theme((
  color: (
    primary: $PokeStats-primary,
    accent: $PokeStats-accent,
    warn: $PokeStats-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PokeStats-theme);

/* You can add global styles to this file, and also import other style files */

//color palette
$dark-blue: #152B62;
$dark-blue-2: #203466;
$light-blue: #3560AC;
$white: #E2E2E2;
$dark-grey: #434343;
$bright-yellow: #FFCC01;
$blue-grey: #5A7082;
$dark-blue-grey: #485b69;
$black: #292929;

//typing
$normal-type: #AAAA99;
$fire-type: #FF4422;
$water-type: #3399FF;
$electric-type: #FFCC33;
$grass-type: #77CC55;
$ice-type: #66CCFF;
$fighting-type: #BA5443;
$poison-type: #AA5599;
$ground-type: #DDBB55;
$flying-type: #8899FF;
$psychic-type: #FF5599;
$bug-type: #AABB22;
$rock-type: #BBAA66;
$ghost-type: #6666BB;
$dragon-type: #7766EE;
$dark-type: #775544;
$steel-type: #AAAABB;
$fairy-type: #EE99EE;

//abilities
$normal-ability: #C0C0C0;
$hidden-ability: #ffdc20;



html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    135deg, 
    $dark-blue 35%, $dark-blue-2 35%, 
    $dark-blue-2 40%, $dark-blue 40%, 
    $dark-blue 45%, $dark-blue-2 45%, 
    $dark-blue-2 70%, $dark-blue 70%
  );
}

.primary-button {
  background-color: $white;
  color: $dark-grey !important;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: $dark-grey !important;
  font-size: 20px;

}

.section-header {
  color: $white;
  font-size: 20px;
  margin: 0;
}

.chip {
  color: $black;
  font-size: 20px;
  font-weight: 400;

  border-radius: 9999px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}